.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@include media-max('phone') {
  .container {
    max-width: 510px;
  }
}

@include media-min('tablet') {
  .container {
    max-width: 798px;
  }
}

@include media-min('desktop') {
  .container {
    max-width: 1470px;
  }
}
