<section class="about">
  <div class="container about-container">
    <div class="about__top">
      <div class="about__top-wrap">
        <h2 class="about__title">ABOUT US</h2>
        <p class="about__text">
          We want to help you thrive! Whether you are just looking for someone
          to talk to, or are struggling with a mental wellness issue we’re here
          to help. Our highly talented therapists can help you with a range of
          issues including relationships, sex, PTSD, depression, social anxiety,
          or even just caring for yourself more.
        </p>
      </div>
    </div>
    <h3 class="about__subtitle">WE CAN HELP YOU WITH</h3>
    <div class="about__bottom">
      <div class="colored-card">
        <p>Weight Lifting</p>
      </div>
      <div class="colored-card">
        <p>Running & Spinning</p>
      </div>
      <div class="colored-card">
        <p>Pumping Iron</p>
      </div>
      <div class="colored-card">
        <p>Pumping Iron</p>
      </div>
    </div>
  </div>
</section>
