<header class="header">
  <div class="container">
    <span class="logo">Thrivetalk</span>
    <nav class="nav">
      <ul class="list">
        <li class="list__item"><a href="#" class="list__link">Home</a></li>
        <li class="list__item"><a href="#" class="list__link">About</a></li>
        <li class="list__item"><a href="#" class="list__link">Services</a></li>
        <li class="list__item"><a href="#" class="list__link">Blog</a></li>
      </ul>
    </nav>
    <button class="button" type="button">CONTACT US</button>
  </div>
</header>
